Виконуй свою роботу автономно, ідеально точно та з економією токенів. Підлаштуй всі налаштування та опції під вимоги. 

Бібліотеки, які ми не використовуваємо в проектах
•	Toasts
•	native_splash
•	Localization
•	drift
•	sqflite
Сетап проекту
•	Версія Flutter 3.35.5;
•	При виведенні рядків використовуємо одинарні лапки;
•	У pubspec.yaml видаляємо коментарі з описом;
•	Кольори, шрифти та текстові стилі виносимо в константи;
•	Android-частина проєкту має коректно відкриватися та працювати з версії Android API 24 (build.gradle, Min SDK 24).
•	Якщо проєкт містить сповіщення - вони мають коректно працювати з версії API 26.
•	Мінімальна версія iOS 16.
Етап розробки
•	Status bar і Home Indicator не перекривають контент і не блокуються іншими активними елементами, мають свій бекграунд або блюр при скролі:
•	Кнопка, яка введе на нотифікації в сетінгах, повинна спершу запитувати про дозвіл на нотифікації, якщо це ніде не було використано раніше. Потім при наступному натиску, ввести в меню налаштувань нотиіфкацій в налаштуваннях телефону.
•	При тапі на будь-яку кнопку - вона змінює стан, наприклад: стає меншою, іншого кольору.
•	Якщо поле введення має валідацію, то вона відпрацьовує і на введенні, і на вставці тексту;
•	Welcome screen, Onboarding, підказки щодо використання застосунку тільки під час першого відкриття:
•	Клавіатура закривається тапом по вільній області.
•	Для Privacy Policy використовуємо url_launcher з такою строкою: "https://google.com";
•	Для Share App використовуємо share_plus з такою строкою: "Try this app! :) {APPSTORE_LINK}";
•	Логіка Share App та Privacy Policy повинна бути в одному файлі.
Dev test
•	На етапі dev-тестування запускаємо Dart аналіз та усуваємо попередження. Слідкуємо за комами наприкінці рядків (можна додати відповідне правило в analyses_options.yaml).
•	Створити текстовий файл з назвою "settings-path.txt" та вказати там шлях до файлу с логікою Share App та Privacy Policy. (наприклад: lib/ui/settings_screen.dart)
